

.button-like {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  z-index: 5;
  position: absolute;
  right: 21px;
  bottom: 15px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}